@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

$primary-font: 'Anton', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #FFD580;

* {
  box-sizing: border-box;
  font-family: $secondary-font;
}

body {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
  background-color: aqua;
}

.hero-padding.hero-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

img.random-image {
  height: 120px;
}

img.cocktail-show-image {
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
}

div {
  .title{
    font-family: $primary-font;
    color: $primary-color;
  }
  .subtitle {
    font-family: $primary-font;
    font-size: 12px;
  }

.navbar-item img {
  max-height: 3rem;
}

}

.input {
  border-color: #fff;
  outline: none;

    &:focus:hover:active {
      border-color: #fff;
      outline: none;
  }
}

.card {
  border: grey solid 2px;
  border-radius: 10px 10px 10px;
}

.card:hover {
  border: red solid 2px;
  border-radius: 10px 10px 10px;
}

.card-content > .subtitle {
  color: #000000;
  font-size: 12px;

}

.column.headerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  width: 100%;
  font-style: $secondary-font;
  font-weight: bolder;
}

.button.search-button {
  background-color: $primary-color;
  font-style: $secondary-font;
  font-weight: bolder;
  color: #fff;
  border: 1px white solid;
  border-radius: 5px 5px 5px;

  &:focus{
    color: #fff;
    outline: none;
    border-color: #fff;

  }

  &:hover{
    color: #fff;

    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

.button.random-cocktail-button {
  margin-bottom: 20px;
  background-color: $primary-color;
  font-style: $secondary-font;
  font-weight: bolder;
  color: #fff;


  &:active, &:hover, &:focus {
    color: #fff;
    outline: none;
    border-color: #fff;
  }
}

.button.random-cocktail-button:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
